body {
    background-color: #8095FF;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    padding-left: 18vh 1rem;
    text-align: center;
}

a {
    color: rgba(#000, 0.7);

    &:focus,
    &:hover {
        color: rgba(#000, 0.6);
    }
}

ul {
    list-style-type: none;
}
li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #FFD500;
    color: black;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #FFD500;
    color: black;
    text-decoration: none;
}

.middleman-logo {
    margin-bottom: 1rem;
    width: 10rem;
}
