<!DOCTYPE html>
<html>
    <head>
        <title>Westside Boiler Invasion</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <style>
.section{
    font-size:200%;
}
html {
    scroll-behavior: smooth;
}
* {
    overflow-x: none;
}
.title {
    font-size: 300%;
}
body{
    background-image: url('images/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
 .main {
     font-size: 1.25rem;
     position: absolute; 
     top: 50%; 
     -ms-transform: translateY(-50%); 
     transform: translateY(-50%); 
     color: white; 
     width: 40vw; 
     left: 5vw;
 }
 .rest {
     position: absolute; 
     top: 100%; 
     color: white; 
     width: 40vw; 
     left: 5vw;
 }
 @media only screen and (max-width: 1000px) {
     @media only screen and (max-width: 1000px) {
         h5 {
             font-size: 1.2rem
         }
     }
     @media only screen and (max-width: 960px) {
         h5 {
             font-size: 1.15rem
         }
     }
     @media only screen and (max-width: 920px) {
         h5 {
             font-size: 1.1rem
         }
     }
     @media only screen and (max-width: 880px) {
         h5 {
             font-size: 1.05rem
         }
     }
     @media only screen and (max-width: 840px) {
         h5 {
             font-size: 1.0rem
         }
     }
     @media only screen and (max-width: 800px) {
         h5 {
             font-size: 0.95rem
         }
     }
     @media only screen and (max-width: 600px) {
         .title{
             font-size:1.95rem
         }
         body {
             background-image: none;
             background-color: #212529;
         }
         h5 {
             font-size: 1.0rem;
             position: absolute;
             top: 10%;
             -ms-transform: translateY(-0%); 
             transform: translateY(-0%); 
             width: 90vw; 
             left: 5vw;
         }
         .main {
             width:90vw
         }
         .rest {
             width:90vw
         }
     }
 }
 .active {
     background-color: #420;
 }
        </style>
    </head>
    <body data-spy="scroll" data-target="#nav" data-offset="100">
        <nav id="nav" class="navbar navbar-expand-md fixed-top navbar-dark" style="z-index: 1;background-color:#1A1B1B">
            <span class="navbar-brand mb-0 h1">Westside Boiler Invasion</span>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <a class="nav-item nav-link mb-0 ml-auto" style="color:white" href="#frc">About FRC</a>
                <a class="nav-item nav-link mb-0 ml-auto" style="color:white" href="#first">FIRST</a>
                <a class="nav-item nav-link mb-0 ml-auto" style="color:white" href="#outreach">Outreach</a>
                <a class="nav-item nav-link mb-0 ml-auto" style="color:white" href="#branding">Branding</a>
                <a class="nav-item nav-link mb-0 ml-auto" style="color:white" href="#history">History</a>
                <a class="nav-item nav-link mb-0 ml-auto" style="color:white" href="#subteams">Subteams</a>
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link mb-0" style="color:white" href="https://donate.boilerinvasion.org">Donate</a>
                </div>
            </div>
        </nav>
        <div class="container-fluid" style="background-color:#F3F3F4;width:100%">
            <h5 class="main"><span class="title">Westside Boiler Invasion</span><br> is the FIRST robotics team of West Lafayette Jr./Sr. High School. Our members work throughout the year by building robots, programming, and holding outreach events in the community to promote FIRST robotics and STEAM education. Our FIRST robotics team provides a place for students to develop skills for future careers in STEAM. </h5>
            <h5 class="rest">
                <span class="section" id="frc">About FRC</span><br><br>FIRST Robotics Competition (FRC), is the ultimate sport of the mind. Hundreds of FRC teams across the world work non stop during a 6-week build period to put together a user controlled or autonomously controlled robot that competes in a year specific game. Along with the traditional robot oriented aspects of the FRC team, such as robot building and programming, there are parts of the teams that deal with social media outreach such as building a website and maintaining various social media networks. These social media networks include reaching out to various groups such as <a href="#scouts">Girl Scouts</a> and <a href="#boyscouts">Boy Scouts</a> to help them learn more about robotics. This process requires a large amount of bankrolling from our loyal and supportive <a href="#sponsors">Sponsors</a>. Support our team <a href="https://donate.boilerinvasion.org">Here</a>
                <br><br>
                <span class="section" id="first">About FIRST</span><br><br>
                <span class="section" id="outreach">Outreach</span><br><br><span id="scouts">Girl Scouts && Scouts of America</span><br><br>Help Girl Scouts earn badges in Designing, Programming, and Showcasing Robots. We help the Scouts earn merit badges in Robotics and Programming at multiple jamborees. This year alone we have helped 43 girls earn 129 badges.<br><br><span id="unified">Unified Robotics</span><br><br>A program meant as an introduction STEM to kids with learning disabilities. Started in 2018 locally at West Lafayette Jr. Sr. High School.partnership with Special Olympics. Started the first Unified Robotics team in the Midwest last year. Made plans with teams around Indiana to expand the program. started working on a project to expand unified robotics from only school-based to our community. <span id="minorities">Engineering Minorities</span><br><br>Purdues Minorities in Engineering Program.<br><br> Week long camp reaching out to children of ethnic minority groups. Teach scratch and LEGO mindstorm.<br><br>Deaf kids code.<br><br> Bring FRC and FTC bots to showcase. Introducing FIRST to deaf community.<br><br> Girl Coders<br><br> We host a workshop teaching about web development and the basics of  HTML, CSS, and Javascript.
                <br><br>
                <span class="section" id="branding">Branding</span><br><br>
                <span class="section" id="history">Past Years</span><br><br>Started in 2000. Currently in its 21st season. We have won four blue banners in 2003, 2012, and two in the 2019 season. (oldest team in Indiana w/o finals win)
                <br><br>
                <span class="section" id="subteams">Subteams</span><br><br>Tech<br><br>Main task: build robotics to perform at competitions. Work on side projects to build skills and experience in fields of engineering and designing.<br><br>Outreach<br><br>Organize outreach events. Plan workshops. Reach out to the community to bring kids to FIRST. Grant writing.<br><br>Programming<br><br>Media<br><br>Manage social media. The face of the team. Creates, edits, and publishes videos and photos about the team. Partners strongly with outreach to bring kids to FIRST.
            </h5>
        </div>
    </body>
</html>
